#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #0f0f0e;
}

#navbar h2 a {
    display: flex;
    align-items: center;
    margin-right: 15rem;
    gap: 0.5rem
}

#navbar form {
    display: flex;
    gap: .5rem;
}

#navbar input {
    padding: .2rem .8rem;
    border-radius: 4px;
    border:none;
}

#navbar form button {
    background-color: #F2F2F2;
    border: 2px solid #F2F2F2;
    border-radius: 4px;
    color: #000;
    padding: .3rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .4s;
}

#navbar form button:hover {
    background-color: transparent;
    color: #F2F2F2;
}